INCLUDE options/options.makejail

ARG gonic_tag=%%TAG1%%-full
ARG gonic_ajspec=gh+AppJail-makejails/gonic

FROM --entrypoint "${gonic_ajspec}" gonic:${gonic_tag}

SYSRC gonic_enable=YES
SERVICE gonic start
